<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nutricampus.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RecuperarSenhaActivity"
            android:label="@string/titulo_recuperar_senha"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CadastrarUsuarioActivity"
            android:label="@string/titulo_novo_usuario"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CadastrarPropriedadeActivity"
            android:label="@string/titulo_add_propriedade"
            android:parentActivityName=".activities.ListaPropriedadesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditarPropriedadeActivity"
            android:label="@string/titulo_editar_propriedade"
            android:parentActivityName=".activities.ListaPropriedadesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ListaPropriedadesActivity"
            android:label="@string/titulo_lista_propriedade"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.CadastrarProprietarioActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity android:name=".activities.EditarProprietarioActivity" />
        <activity
            android:name=".activities.CadastroProducaoLeiteActivity"
            android:label="@string/titulo_editar_producao"
            android:parentActivityName=".activities.ListaProducaoLeiteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".activities.ListaProducaoLeiteActivity"
            android:label="@string/titulo_producao"
            android:parentActivityName=".activities.ListaAnimaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditarProducaoLeiteActivity"
            android:label="@string/titulo_editar_prole"
            android:parentActivityName=".activities.ListaProducaoLeiteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".activities.CadastrarAnimalActivity"
            android:label="@string/titulo_add_animal"
            android:parentActivityName=".activities.ListaAnimaisActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ListaAnimaisActivity" />
        </activity>
        <activity
            android:name=".activities.ListaAnimaisActivity"
            android:label="@string/titulo_lista_animais"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ListaProleActivity"
            android:label="@string/titulo_prole"
            android:parentActivityName=".activities.ListaAnimaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CadastroProleActivity"
            android:label="@string/titulo_nova_prole"
            android:parentActivityName=".activities.ListaProleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".activities.EditarProleActivity"
            android:label="@string/titulo_editar_prole"
            android:parentActivityName=".activities.ListaProleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".activities.CadastrarNovoDadoComplActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.EditarAnimalActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ListaDadosComplActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.EditarDadosComplActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
    </application>

</manifest>